*{
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    /*NOTE: look into why this looks repetetive as index.html line 9*/
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #fff;

    transform: scale(3) translateY(50%) ;
}

.game-container canvas {
    /* NOTE: this is to make sure our images arent blurry when zoomed */
    image-rendering: pixelated;
}